{% load static %}
<!DOCTYPE html>
<html>
<body>


<div id="center" style="position: fixed; top: 75%; left: 40%;"><img class="gps" src="{% static 'images/map_mark.png' %}" style="display: inline-block; vertical-align: middle; ">
  <p type="button" onClick="location.href='{% url 'Main:map' %}'" style="display: inline-block; vertical-align: middle; margin:0px; ">현재위치</p></div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=29134990ce0d37054a535a7b736b4f3d"></script>

<script>
var x = document.getElementById("demo");
var map, infoWindow;

function check_folder(threshold = 50){
  var xhr_folder_content = new XMLHttpRequest();
  xhr_folder_content.open('POST', '/app/get_folder_contents/', true);  // Django URL에 맞게 수정
  xhr_folder_content.onload = function () {
    console.log(xhr_folder_content.status);
    if (xhr_folder_content.status === 200) {
        var response = JSON.parse(xhr_folder_content.responseText);
        var files = response.files;
        files.sort(function(a, b) {
          return b.localeCompare(a);
        });
        // Process file list
        if(files.length > 0) {
          for (var i = 0; i < files.length; i++) {
              var fileName = files[i];
              
              console.log(fileName.slice(-6,-4))
              var lastTwoDigits = parseInt(fileName.slice(-6,-4));
              if (lastTwoDigits > threshold) {
                  console.log('File:', fileName);
                  window.location.href = '/app/popup2/';
                  xhr_task = new XMLHttpRequest();
                  xhr_task.open('POST', '/app/task_emergency_file/', true);
                  xhr_task.send();
                  if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                  } else { 
                    console.log("Geolocation is not supported by this browser.");
                  }
             }else{
              xhr_remove = new XMLHttpRequest();
              xhr_remove.open('POST', '/app/remove_file/', true);
              xhr_remove.send();
             }
          }
        }
      } else {
        console.error('Request failed. Status:', xhr_folder_content.status);
     }
  };
  xhr_folder_content.send();
}

function getLocation() {
  var xhr_setting = new XMLHttpRequest();
  xhr_setting.open('POST', '/app/getsetting/', true);
  xhr_setting.onreadystatechange = function(){
    if (xhr_setting.readyState === 4 && xhr_setting.status === 200){
      var usersetting = JSON.parse(xhr_setting.responseText);
      var sensitivity = usersetting.sensitivity;
      let max_threshold = 99.9;
      let min_threshold = 50.0;
      let threshold = (min_threshold-max_threshold)*sensitivity/100 + max_threshold;
      const intervalid = setInterval(check_folder,5000, threshold); 
    }
  }
  xhr_setting.send();
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  var API_KEY = 'AIzaSyD1uFlkGyGTJc9s7kQwaKKYnvNVsoqFNGQ';
  var geocodingUrl = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + position.coords.latitude + "," + position.coords.longitude + "&key=" + API_KEY;
  
  fetch(geocodingUrl)
    .then(response => response.json())
    .then(data => {
      var address = data.results[0].formatted_address;
      x.innerHTML += "<br>현재위치: " + address;

                
      var xhr_address = new XMLHttpRequest();
      var url_address = "{% url 'app:save_location' %}";
      xhr_address.open("POST", url_address, true);
      xhr_address.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr_address.onreadystatechange = function () {
          if (xhr_address.readyState === 4 && xhr_address.status === 200) {
              console.log(xhr_address.responseText);
          }
      };
      var data_address = "address=" + address;
      xhr_address.send(data_address);
    });
}

window.onload = getLocation;

</script>

</body>
</html>