<!DOCTYPE html>
<html>
<body>

<p id="demo"></p>

<div id="map" style="height: 300px; width: 90%;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=29134990ce0d37054a535a7b736b4f3d"></script>

<script>
var x = document.getElementById("demo");
var map, infoWindow;

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  var API_KEY = 'AIzaSyD1uFlkGyGTJc9s7kQwaKKYnvNVsoqFNGQ';
  var geocodingUrl = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + position.coords.latitude + "," + position.coords.longitude + "&key=" + API_KEY;
  
  fetch(geocodingUrl)
    .then(response => response.json())
    .then(data => {
      var address = data.results[0].formatted_address;
      x.innerHTML += "<br>현재위치: " + address;

      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = {
          center: new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude), // 지도의 중심좌표
          level: 3 // 지도의 확대 레벨
      };
      
      var map = new kakao.maps.Map(mapContainer, mapOption); 

      var marker = new kakao.maps.Marker({
          position: mapOption.center,
      });

      marker.setMap(map);
                
      var xhr_address = new XMLHttpRequest();
      var url_address = "{% url 'app:save_location' %}";
      xhr_address.open("POST", url_address, true);
      xhr_address.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr_address.onreadystatechange = function () {
          if (xhr_address.readyState === 4 && xhr_address.status === 200) {
              console.log(xhr_address.responseText);
          }
      };
      var data_address = "address=" + address;
      xhr_address.send(data_address);
    });
}

window.onload = getLocation;

</script>

</body>
</html>
