<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>마이크 테스트</title>
</head>

<body>
    <a href="/Main/Post/"><button>게시판으로</button></a>
    <input type="checkbox" id="chk-hear-mic"><label for="chk-hear-mic">마이크 소리 듣기</label>
    <div>
        <button id="record">녹음</button>
        <button id="stop">정지</button>
      </div>
      <div id="sound-clips"></div>
    {% csrf_token %}
    <script>
        const record = document.getElementById("record");
        const stop = document.getElementById("stop");
        const soundClips = document.getElementById("sound-clips");
        const chkHearMic = document.getElementById("chk-hear-mic");

        const audioCtx = new (window.AudioContext || window.webkitAudioContext)();

        const analyser = audioCtx.createAnalyser();

        function makeSound(stream) {
            const source = audioCtx.createMediaStreamSource(stream);

            source.connect(analyser);
            analyser.connect(audioCtx.destination);
        }

        if (navigator.mediaDevices) {
            

            const constraints = {
                audio: true
            };
            let chunks = [];
            let mediaRecorder;
            let isRecording = false;

            navigator.mediaDevices.getUserMedia(constraints)
                .then(stream => {
                    mediaRecorder = new MediaRecorder(stream);

                    chkHearMic.onchange = e => {
                        if (e.target.checked) {
                            audioCtx.resume();
                            makeSound(stream);
                        } else {
                            audioCtx.suspend();
                        }
                    };

                    record.onclick = () => {
                        if (!isRecording) {
                            isRecording = true;
                            record.style.background = "red";
                            record.style.color = "black";
                            mediaRecorder.start();
                            console.log(mediaRecorder.state);
                            console.log("recorder started");
                            setTimeout(stopRecording, 10000); // 10초 후 정지
                        }
                    };

                    stop.onclick = () => {
                        if (isRecording) {
                            stopRecording();
                        }
                    };

                    function stopRecording() {
                        if (isRecording) {
                            isRecording = false;
                            mediaRecorder.stop();
                            record.style.background = "";
                            record.style.color = "";
                        }
                    }

                    mediaRecorder.onstop = e => {


                        // 파일 이름 = Recording_날짜시간

                        const clipName = "Recording_" + new Date().toISOString().replace(/[:.]/g, "_");
                        const clipContainer = document.createElement('article');
                        const clipLabel = document.createElement('p');
                        const audio = document.createElement('audio');
                        const deleteButton = document.createElement('button');
                        const saveButton = document.createElement('button');

                        clipContainer.classList.add('clip');
                        audio.setAttribute('controls', '');
                        deleteButton.innerHTML = "삭제";
                        saveButton.innerHTML = "저장";
                        clipLabel.innerHTML = clipName;

                        clipContainer.appendChild(audio);
                        clipContainer.appendChild(clipLabel);
                        clipContainer.appendChild(deleteButton);
                        clipContainer.appendChild(saveButton);
                        soundClips.appendChild(clipContainer);

                        audio.controls = true;
                        const blob = new Blob(chunks, {
                            'type': 'audio/wave codecs=opus'
                        });
                        chunks = [];
                        const audioURL = URL.createObjectURL(blob);
                        audio.src = audioURL;
                        console.log("recorder stopped");

                        deleteButton.onclick = e => {
                            evtTgt = e.target;
                            evtTgt.parentNode.parentNode.removeChild(evtTgt.parentNode);
                        };

                        //saveButton.onclick = e => {
                        const formData = new FormData();
                        formData.append('audio_file', blob, clipName + '.wave');

                        // CSRF 토큰 가져오기
                        const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                        const xhr = new XMLHttpRequest();
                        xhr.onload = function () {
                            if (xhr.status === 200) {
                                console.log("파일 저장 성공");
                            } else {
                                console.log("파일 저장 실패");
                            }
                        };
                        xhr.open('POST', '/Main/save-audio/', true);
                        // CSRF 토큰 설정
                        xhr.setRequestHeader('X-CSRFToken', csrfToken);
                        xhr.send(formData);
                        //};
                    };

                    mediaRecorder.ondataavailable = e => {
                        chunks.push(e.data);
                    };
                })
                .catch(err => {
                    console.log('The following error occurred: ' + err);
                });
        }
    </script>
</body>

</html>
